{% extends "base.html" %}
{% block content %}
<!-- 
<a id="docs" href="">Github</a> -->
  
<section id="wrapper">
	<center><img id="avatar" src="../static/images/1458779044_47.png"></center>
	<h1>Electricidad.org.ve</h1>
	<nav>
		<ul>
			<li><a class="waves-effect waves-light btn" href="index.html">home</a></li>
			<li><a class="waves-effect waves-light btn" href="reporte.html">reporte</a></li>
		</ul>
	</nav>

	<iframe width="100%" height="520" frameborder="0" src="https://jamm.cartodb.com/viz/d0d5111c-f086-11e5-9abd-0e3a376473ab/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

	<h3>¿Cu&aacute;l es el objetivo de este web?</h3>
	<p>Esta p&aacute;gina tiene como objetivo informar sobre los cortes de electricidad en Venezuela, la data es generada a partir de los reportes de los ciudadanos.</p>
	<p>Ademas de exigir la liberaci&oacute;n del 100% de la informaci&oacute;n a los organismos gubernamentales sobre la genraci&oacute;n, distribuci&oacute;n, consumo y fallas del servicio el&eacute;ctrico en todo el pais.</p>

	<h3>¿C&oacute;mo puedo colaborar?</h3>
	<p>Conseguir los datos de falla del servicio es lo m&aacute;s importante ademas de verificar su veracidad. Por lo que mientras mas reportes tengamos mejor informaci&oacute;n podemos mostrar.</p>

</section>



{% endblock content%}
